.contactForm {
  width: 260px;
  padding: 15px;
  background-color: #8ecc67;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -2px #386919;
}

.formField {
  margin-bottom: 10px;
}

.input {
  display: block;
  width: 90%;
}

.btn {
  min-width: 100px;
  height: 24px;
  border: none;
  border-radius: 5px;
}

.btn::first-letter {
  text-transform: capitalize;
}

.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: 2px 2px 10px -2px #386919;
}
